<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wallacefunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0694e8b8-37e5-4595-93ee-cccd11c0af4a/resourcegroups/Dev/providers/Microsoft.Web/sites/wallacefunc</ResourceId>
    <UserName>$wallacefunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://wallacefunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>